In [ ]:
#task 3.2
list1=[1,2,[3,4,[5,6,7,8]]]
list1[2][2]

[5, 6, 7, 8]

In [32]:
#task 4a
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1[2][2]
print(l1)
l1[2][2].insert(2,70)
print(l1)

[10, 20, [30, 40, [50, 60], 80], 90, 100]
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [9]:
#task 4.2
#input
l2 = [1,2,[3,4,5,6],9]
print(l2)
l2[2].append([7,8])
print(l2)

[1, 2, [3, 4, 5, 6], 9]
[1, 2, [3, 4, 5, 6, [7, 8]], 9]

In [12]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
print(dict1)

{'april_batch': {'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}}}

In [53]:
#5.1
dict1["april_batch"]["student"]["name"]

'jerin'

In [27]:
#5.2
dict1["april_batch"]["student"]["marks"]["python"]

80

In [52]:
#5.3
dict1['april_batch']['student']={'name':'jerin'}

In [58]:
#5.4
dict1['marks2']=['ml':70,'dl':80]

SyntaxError: ignored

In [72]:
#6
tup1=(1,2,3,4,5,6)
tup1
list1=list(tup1)
list1
list1.append(7)
list1
remove=list1.pop(5)
print(remove)
list1
tup1-tuple(list1)
tup1

6

TypeError: ignored